In [110]:
#Import dependencies
import os
import pandas as pd
import numpy as np

#Import API key
from config import api_key,secret_api

#API
import requests
import json
import rauth
from pprint import pprint

#Goodreads API library
import goodreads
from goodreads import client

#Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

# Original CSV data

### Read CSV into dataframe

In [2]:
csv = "Resources/book_data.csv"
book_data_df = pd.read_csv(csv)

book_data_df.dtypes

Title               object
Series              object
Volume               int64
Author              object
Language            object
Fiction/Non         object
Genre               object
Pgs                  int64
Publication_date     int64
year_read            int64
dtype: object

In [3]:
#Remove decimals
book_data_df["Volume"] = book_data_df["Volume"].astype(str).str.replace(".0","",regex=False)
book_data_df["Publication_date"] = book_data_df["Publication_date"].astype(str).str.replace(".0","",regex=False)
book_data_df["year_read"] = book_data_df["year_read"].astype(str).str.replace(".0","",regex=False)

#Rename columns
rename_bd_df = book_data_df.rename(columns={"Title":"book_title",
                                            "Series":"series_name", 
                                            "Volume":"volume", 
                                            "Author":"author_name",
                                            "Language":"language",
                                            "Fiction/Non":"fiction_non",
                                            "Genre":"genre",
                                            "Pgs":"number_of_pages", 
                                            "Publication_date":"date_of_publication"})

In [51]:
#Select relevant columns
final_book_df = rename_bd_df[["book_title",
                                  "series_name",
                                  "author_name",
                                  "language",
                                  "fiction_non",
                                  "genre", 
                                  "number_of_pages",
                                  "year_read"]]

final_book_df

,book_title,series_name,author_name,language,fiction_non,genre,number_of_pages,year_read
0,21,0,Jeremy Iversen,English,Fiction,Young Adult,261,0
1,", Said the Shotgun to the Head",0,Saul Williams,English,Non-Fiction,Poetry,182,0
2,13 Little Blue Envelopes,0,Maureen Johnson,English,Fiction,Young Adult,320,0
3,A Bite To Remember,Argeneu Novel,Lynsay Sands,English,Fiction,Paranormal Romance,362,0
4,A Clash of Kings,A Song of Ice and Fire,George R. R. Martin,English,Fiction,Fantasy,824,2012
...,...,...,...,...,...,...,...,...
715,You Slay Me,Green Dragons novel,Katie MacAlister,English,Fiction,Paranormal Romance,334,0
716,You Suck,A Love Story,Christopher Moore,English,Fiction,Fantasy,328,0
717,"You, Maybe",0,Rachel Vail,English,Fiction,Young Adult,199,0
718,You're the One That I Want,Gossip Girl,Cecily von Ziegesar,English,Fiction,Young Adult,227,0
719,Your Coffin Or Mine?,Vampire Love,Kimberly Raye,English,Fiction,Paranormal Romance,306,0

In [109]:
#Generate HTML table
html_books= final_book_df.to_html("Pages/Book_List/html_books_table.html")

# Request information from Goodreads API

In [6]:
#Create Goodreads client instance
gc = client.GoodreadsClient(api_key,secret_api)

### Author hometown API request

In [8]:
#Prepare list of authors for API and unique author table
authors = rename_bd_df["author_name"]
single_authors = authors.drop_duplicates(keep="first")
index_authors = single_authors.reset_index(drop=True)

In [9]:
#Empty list to hold API data 
hometowns = []
works_count = []

#Loop for iterative API requests
for author in range(len(index_authors)):
    #Create a print log of each author
    print(f"Retrieving hometown{author} | {index_authors[author]}")
    
    #Hometown and number of works request
    author = gc.find_author(index_authors[author])
    cities = author.hometown
    works = author.works_count
    
    #Save to list
    hometowns.append(cities)
    works_count.append(works)

Retrieving hometown0 | Jeremy Iversen
Retrieving hometown1 | Saul Williams
Retrieving hometown2 | Maureen Johnson
Retrieving hometown3 | Lynsay Sands
Retrieving hometown4 | George R. R. Martin
Retrieving hometown5 | Christopher Rice
Retrieving hometown6 | Christopher Moore
Retrieving hometown7 | Kim Harrison
Retrieving hometown8 | Nick Hornby
Retrieving hometown9 | Wendy Mass
Retrieving hometown10 | William Shakespeare
Retrieving hometown11 | Ernest Hemingway
Retrieving hometown12 | Cupcake Brown
Retrieving hometown13 | Brian Sloan
Retrieving hometown14 | Alan Bradley
Retrieving hometown15 | Robert Goolrick
Retrieving hometown16 | Terry Pratchett
Retrieving hometown17 | Tennessee Williams
Retrieving hometown18 | Sir Arthur Conan Doyle
Retrieving hometown19 | Diane Duane
Retrieving hometown20 | Jeff Vandermeer
Retrieving hometown21 | Guillermo Martínez
Retrieving hometown22 | Sherrilyn Kenyon
Retrieving hometown23 |  Amelie Nothomb
Retrieving hometown24 | Hailey Abbott
Retrieving hometown25 | Francine Pascal
Retrieving hometown26 | Simon R. Green
Retrieving hometown27 | Katie MacAlister
Retrieving hometown28 |  Fernando Iwasaki
Retrieving hometown29 |  Melanie Benjamin
Retrieving hometown30 | Lewis Carroll
Retrieving hometown31 | Cecily von Ziegesar
Retrieving hometown32 | Lauren Mechling
Retrieving hometown33 | Charlaine Harris
Retrieving hometown34 | Veronica Roth
Retrieving hometown35 | Darren Shan
Retrieving hometown36 | Judy McCoy
Retrieving hometown37 | Elizabeth Noble
Retrieving hometown38 | Craig Ferguson
Retrieving hometown39 | Jonathan Lethem
Retrieving hometown40 |  Neil Gaiman
Retrieving hometown41 | Carolyn Meyer
Retrieving hometown42 | Agatha Christie
Retrieving hometown43 | Dan Brown
Retrieving hometown44 | Louise Renninson
Retrieving hometown45 |  José Watanabe
Retrieving hometown46 |  Sofocles
Retrieving hometown47 |  Benjamin Alire Saenz
Retrieving hometown48 |  Rainbow Rowell
Retrieving hometown49 |  Tracy Letts
Retrieving hometown50 | Carlos Fuentes
Retrieving hometown51 | Elizabeth Kay
Retrieving hometown52 | Joan Bauer
Retrieving hometown53 | Donna Kauffman
Retrieving hometown54 | Abigail Vona
Retrieving hometown55 | Matt Ruff
Retrieving hometown56 | Harry Dolan
Retrieving hometown57 | Lynne Ewing
Retrieving hometown58 | Koushun Takami
Retrieving hometown59 | Kathryn Smith
Retrieving hometown60 | A.N. Roquelaure
Retrieving hometown61 | Plum Sykes
Retrieving hometown62 | Meg Cabot
Retrieving hometown63 | Josh Malerman
Retrieving hometown64 | Michelle Rowen
Retrieving hometown65 | Stephen King
Retrieving hometown66 | Craig Thompson
Retrieving hometown67 | Patricia Briggs
Retrieving hometown68 | Alex Duval
Retrieving hometown69 | Alecia Oleyourryk
Retrieving hometown70 | Cecil Castellucci
Retrieving hometown71 | Sarah Mlynowski
Retrieving hometown72 | J. Minter
Retrieving hometown73 | Stephenie Meyer
Retrieving hometown74 | Yolanda Arroyo
Retrieving hometown75 | D.L.King
Retrieving hometown76 | Suzanne Collins
Retrieving hometown77 | Various Authors
Retrieving hometown78 |  Cormac McCarthy
Retrieving hometown79 |  Kevin Kwan
Retrieving hometown80 | Madeleine Wickham
Retrieving hometown81 | Lev Grossman
Retrieving hometown82 | Tucker Shaw
Retrieving hometown83 | Robynn Clairday
Retrieving hometown84 | Gabriel García Márquez
Retrieving hometown85 | Carly Phillips
Retrieving hometown86 | Mayra Santos-Febres
Retrieving hometown87 | Esmeralda Santiago
Retrieving hometown88 | Rachel Cohn
Retrieving hometown89 | Sebastian Horseley
Retrieving hometown90 | J.R. Ward
Retrieving hometown91 | Stephanie Rowe
Retrieving hometown92 | Robert Kirkman
Retrieving hometown93 | Kimberly Raye
Retrieving hometown94 | Arthur Miller
Retrieving hometown95 | Julie Anne Peters
Retrieving hometown96 | Lisa Scottoline
Retrieving hometown97 | Nikolai Gogol
Retrieving hometown98 | Sergio Gutiérrez Negrón
Retrieving hometown99 |  Veronica Roth
Retrieving hometown100 | Melanie Jackson
Retrieving hometown101 | Steven Pressfield
Retrieving hometown102 | Julia DeVillers
Retrieving hometown103 | José Zorrilla
Retrieving hometown104 | Karen Kelley
Retrieving hometown105 | Sarah Dessen
Retrieving hometown106 | Mariko Nagai
Retrieving hometown107 | Francesca Lia Block
Retrieving hometown108 | Sophocles
Retrieving hometown109 | Isabel Allende
Retrieving hometown110 | Robert Fisher
Retrieving hometown111 |  Chrétien de Troyes
Retrieving hometown112 | Mark Twain
Retrieving hometown113 | Josue Montijo
Retrieving hometown114 | Fernando Iwasaki
Retrieving hometown115 | Patrick Suskind
Retrieving hometown116 | Gioconda Belli
Retrieving hometown117 | Rainbow Rowell
Retrieving hometown118 | Kathryn Lasky
Retrieving hometown119 | Ana Lydia Vega
Retrieving hometown120 | Cameron Dean
Retrieving hometown121 | Jonathan Safran Foer
Retrieving hometown122 | Rafael Acevedo
Retrieving hometown123 | Julia London
Retrieving hometown124 | Bill Willingham
Retrieving hometown125 | Herbie Brennan
Retrieving hometown126 | Jo Beverly
Retrieving hometown127 | Kate Brian
Retrieving hometown128 |  Charles Baudelaire
Retrieving hometown129 |  Kel Kade
Retrieving hometown130 | Jasper Fforde
Retrieving hometown131 | Kylie Adams
Retrieving hometown132 | Olivia Butler
Retrieving hometown133 | Wendelin Van Draanen
Retrieving hometown134 | Dean Koontz
Retrieving hometown135 | Alejandro Zambra
Retrieving hometown136 | Mary Shelley
Retrieving hometown137 | Susan Johnson
Retrieving hometown138 | Patricia Briggs
Retrieving hometown139 | Alison Bechdel
Retrieving hometown140 | Andrew Auseon
Retrieving hometown141 | Eric Jerome Dickey
Retrieving hometown142 | Joanne Harris
Retrieving hometown143 | Markus Zusak
Retrieving hometown144 | Ursula K. Le Guin
Retrieving hometown145 | Stephen Mitchell
Retrieving hometown146 | David Yoo
Retrieving hometown147 | Ann Brashares
Retrieving hometown148 | Larry The Cable Guy
Retrieving hometown149 | Vicki Lewis Thompson
Retrieving hometown150 | Neil Gaiman
Retrieving hometown151 | Robin Wasserman
Retrieving hometown152 | Connie Lane
Retrieving hometown153 | Sarra Manning
Retrieving hometown154 | Daniel José Older
Retrieving hometown155 | Lora Leigh
Retrieving hometown156 | J.K. Rowling
Retrieving hometown157 | Chuck Palahniuk
Retrieving hometown158 | M. Apostolina
Retrieving hometown159 | Greg Behrendt
Retrieving hometown160 | Mariah Fredericks
Retrieving hometown161 | Ellen Wittlinger
Retrieving hometown162 |  Joe Hill
Retrieving hometown163 | Bill Buford
Retrieving hometown164 | Leslie Carroll
Retrieving hometown165 | Patricia Marx
Retrieving hometown166 | Lurlene McDaniel
Retrieving hometown167 | Gordon Korman
Retrieving hometown168 | Trista Mateer
Retrieving hometown169 |  Lissa Evans
Retrieving hometown170 | Frank Peretti
Retrieving hometown171 |  Tanya Egan Gibson
Retrieving hometown172 | Zoey Dean
Retrieving hometown173 | Eve Ensler
Retrieving hometown174 | Maya Angelou
Retrieving hometown175 | Larry Doyle
Retrieving hometown176 | Ally Carter
Retrieving hometown177 | Rachel Gibson
Retrieving hometown178 | Michele Bardsley
Retrieving hometown179 | Rachel Vail
Retrieving hometown180 |  Alexandra Bracken
Retrieving hometown181 | Tana French
Retrieving hometown182 | Christina Dodd
Retrieving hometown183 | Ned Vizzini
Retrieving hometown184 | Karin Tidbeck
Retrieving hometown185 | Jules Verne
Retrieving hometown186 | Douglas Coupland
Retrieving hometown187 |  Tony Vigorito
Retrieving hometown188 | Sean Olin
Retrieving hometown189 | Lisa Jackson
Retrieving hometown190 | Ellen Schreiber
Retrieving hometown191 | María Luisa Bombal
Retrieving hometown192 | Franz Kafka
Retrieving hometown193 | Luis Rafael Sánchez
Retrieving hometown194 | Homer
Retrieving hometown195 | Toni Bentley
Retrieving hometown196 | Pedro Calderón de la Barca
Retrieving hometown197 | Hester Browne
Retrieving hometown198 | Alan Moore
Retrieving hometown199 | Cecilia Ahern
Retrieving hometown200 | Jerry Spinelli
Retrieving hometown201 | Marian Keyes
Retrieving hometown202 | Joy Fielding
Retrieving hometown203 | Janet Evanovich
Retrieving hometown204 | John Grogan
Retrieving hometown205 | Ransom Riggs
Retrieving hometown206 | Clive Barker
Retrieving hometown207 | Georgia Byng
Retrieving hometown208 | Luis Negrón

Retrieving hometown209 |  Agatha Christie
Retrieving hometown210 | Mistress Nan
Retrieving hometown211 | Mary Janice Davidson
Retrieving hometown212 |  Supervert
Retrieving hometown213 |  Santiago Gamboa
Retrieving hometown214 | Thomas Perry
Retrieving hometown215 | Noelle Stevenson
Retrieving hometown216 | Miranda July
Retrieving hometown217 | Roberto Bolaño
Retrieving hometown218 | Jane Austen
Retrieving hometown219 | Joe Hill
Retrieving hometown220 | John Steinbeck
Retrieving hometown221 | Helen Fielding
Retrieving hometown222 | Harry G. Frankfurt
Retrieving hometown223 | Jean Ferris
Retrieving hometown224 |  Sylvain Neuvel
Retrieving hometown225 |  Truman Capote
Retrieving hometown226 | Christopher Morley
Retrieving hometown227 | Jodi Lynn Anderson
Retrieving hometown228 | Natasha Friends
Retrieving hometown229 |  Miranda Austin
Retrieving hometown230 | J. R. Jiménez
Retrieving hometown231 | Gail Giles
Retrieving hometown232 | A. S. King
Retrieving hometown233 | Curtis Sittenfield
Retrieving hometown234 | Laurie Halse Anderson
Retrieving hometown235 | Mayra Montero
Retrieving hometown236 | Gerry Bartlet
Retrieving hometown237 | Laurie Faria Stolarz
Retrieving hometown238 | Yoko Ogawa
Retrieving hometown239 | Laura Dower
Retrieving hometown240 | Lauren Myracle
Retrieving hometown241 | Augusten Burroughs
Retrieving hometown242 | Daphne Kalotay
Retrieving hometown243 |  Brian K. Vaughan
Retrieving hometown244 |  Valenzuela
Retrieving hometown245 | Mario Mendoza
Retrieving hometown246 | Melina Marchetta
Retrieving hometown247 | Violet Blue
Retrieving hometown248 |  Christopher Moore
Retrieving hometown249 | Cheyenne McGray
Retrieving hometown250 | Matt Fraction
Retrieving hometown251 | Tamora Pierce
Retrieving hometown252 | Kimberly Logan
Retrieving hometown253 | Kurt Vonnegut
Retrieving hometown254 | Scott Westerfeld
Retrieving hometown255 |  Jaroslav Kalfar
Retrieving hometown256 | Elaine Fox
Retrieving hometown257 | Mordecai Richler
Retrieving hometown258 | Emily St. John Mandel
Retrieving hometown259 | Nikki Burnham
Retrieving hometown260 | Edward Bloor
Retrieving hometown261 | Richard Baer
Retrieving hometown262 | H.B. Gilmour
Retrieving hometown263 | Santiago Roncagliolo
Retrieving hometown264 |  Walter Moers
Retrieving hometown265 |  Geoffrey Girard
Retrieving hometown266 | Carlos Ruiz Zafón
Retrieving hometown267 | Lemony Snicket
Retrieving hometown268 | Sylvia Plath
Retrieving hometown269 | Margaret Atwood
Retrieving hometown270 | John Connolly
Retrieving hometown271 |  Erika Swyler
Retrieving hometown272 | Junot Díaz
Retrieving hometown273 |  Paul Tremblay
Retrieving hometown274 | J.D. Salinger
Retrieving hometown275 |  Soren Sveistrup
Retrieving hometown276 | C.S. Lewis
Retrieving hometown277 | Alice Walker
Retrieving hometown278 | Mark Haddon
Retrieving hometown279 |  Ogdred Weary
Retrieving hometown280 | Meg Jay
Retrieving hometown281 |  Erik Larson
Retrieving hometown282 |  Peter Heller
Retrieving hometown283 | Arthur Phillips
Retrieving hometown284 | J.R.R. Tolkien
Retrieving hometown285 | Louann Brizendine
Retrieving hometown286 |  N.K. Jemisin
Retrieving hometown287 | Mitch Albom
Retrieving hometown288 | Stieg Larsson
Retrieving hometown289 |  Iona Grey
Retrieving hometown290 | Douglas Adams
Retrieving hometown291 |  J.R.R Tolkien
Retrieving hometown292 | Jean Cocteau
Retrieving hometown293 | N.K. Jemisin
Retrieving hometown294 |  Heather O’Neill
Retrieving hometown295 | D.J. MacHale
Retrieving hometown296 | Marguerite Duras
Retrieving hometown297 | Alice Hoffman
Retrieving hometown298 | Erin Morgenstern
Retrieving hometown299 | Nicholas Sparks
Retrieving hometown300 | S.E. Hinton
Retrieving hometown301 | Oscar Wilde
Retrieving hometown302 | Deborah Blum
Retrieving hometown303 | Salwa Al Neimi
Retrieving hometown304 | Bernard Schlink
Retrieving hometown305 | Peter Dickinson
Retrieving hometown306 | Adam Langer
Retrieving hometown307 | Annette Blair
Retrieving hometown308 | Clare Naylon
Retrieving hometown309 | Nikki Loftin
Retrieving hometown310 | Eowyn Ivey
Retrieving hometown311 | Paolo Giordano
Retrieving hometown312 | Eoin Colfer
Retrieving hometown313 |  Nick Cutter
Retrieving hometown314 |  Ruth Ware
Retrieving hometown315 | Gail Carson Levine
Retrieving hometown316 | Emma Straub
Retrieving hometown317 | Teresa Medeiros
Retrieving hometown318 | Aravind Adiga
Retrieving hometown319 | TaraShea Nesbit
Retrieving hometown320 | Jaclyn Moriarty
Retrieving hometown321 | Debbie Macomber
Retrieving hometown322 | M.T. Anderson
Retrieving hometown323 | Jill Soloway
Retrieving hometown324 | Holly Black
Retrieving hometown325 |  Ada Palmer
Retrieving hometown326 |  John Steinbeck
Retrieving hometown327 | James Howe
Retrieving hometown328 | Anónimo
Retrieving hometown329 | Gene O'Shea
Retrieving hometown330 | Jon Krakauer
Retrieving hometown331 |  Haruki Murakami
Retrieving hometown332 | Stephen Singular
Retrieving hometown333 | Carolyn Mackler
Retrieving hometown334 | Francisco Arriví
Retrieving hometown335 | Leopold von Sacher Masoch
Retrieving hometown336 | Paulo Coelho
Retrieving hometown337 | Terry Davis
Retrieving hometown338 | Shara Lávender
Retrieving hometown339 |  Pu Songling
Retrieving hometown340 |  Isaac Marion
Retrieving hometown341 | Sara Gruen
Retrieving hometown342 | Julie Anne Long
Retrieving hometown343 | Laurie Notaro
Retrieving hometown344 | Jack Handey
Retrieving hometown345 | Deborah Blumenthal
Retrieving hometown346 | Peter Mendelsund
Retrieving hometown347 | Edward Albee
Retrieving hometown348 | Gregory Maguire
Retrieving hometown349 | Patti Berg
Retrieving hometown350 | Carole Matthews
Retrieving hometown351 | Tanith Lee
Retrieving hometown352 |  Max Brooks
Retrieving hometown353 |  Marguerite Duras
Retrieving hometown354 | Emily Brontë
Retrieving hometown355 | Brian K. Vaughn
Retrieving hometown356 | Brian K. Vaughan
Retrieving hometown357 | Joumana Haddad

In [44]:
#Create author and hometown dataframe
hometown_df = pd.DataFrame({"author_name":index_authors, "hometown":hometowns, "books_written":works_count})
drop_hometown = hometown_df.drop_duplicates(subset="author_name",keep="first")
index_hometown = drop_hometown.reset_index(drop=True).copy()

index_hometown

             author_name                      hometown books_written
0         Jeremy Iversen                 New York City             2
1          Saul Williams            Newburgh, New York            14
2        Maureen Johnson              Philadelphia, PA            55
3           Lynsay Sands                    Leamington           102
4    George R. R. Martin           Bayonne, New Jersey           988
..                   ...                           ...           ...
353     Marguerite Duras                      Gia-Dinh           202
354         Emily Brontë  Thornton, Yorkshire, England           536
355      Brian K. Vaughn          Milwaukee, Wisconsin            91
356    Brian K. Vaughan                Cleveland, Ohio           597
357       Joumana Haddad                        Beirut            22

[358 rows x 3 columns]

In [11]:
#Look for missing values in the data 
index_hometown.isna().any()

author_name      False
hometown          True
books_written    False
dtype: bool

In [50]:
#Remove authors with missing hometown values 
final_authors_df = index_hometown.dropna(how="any")

final_authors_df

             author_name                      hometown books_written
0         Jeremy Iversen                 New York City             2
1          Saul Williams            Newburgh, New York            14
2        Maureen Johnson              Philadelphia, PA            55
3           Lynsay Sands                    Leamington           102
4    George R. R. Martin           Bayonne, New Jersey           988
..                   ...                           ...           ...
353     Marguerite Duras                      Gia-Dinh           202
354         Emily Brontë  Thornton, Yorkshire, England           536
355      Brian K. Vaughn          Milwaukee, Wisconsin            91
356    Brian K. Vaughan                Cleveland, Ohio           597
357       Joumana Haddad                        Beirut            22

[239 rows x 3 columns]

# SQL and Flask API

In [101]:
#Create engine and connection to database
connection = "postgres:postgres@localhost:5432/books"
engine = create_engine(f'postgresql://{connection}')

In [102]:
#Check for tables
engine.table_names()

['authors', 'books', 'hometowns']

In [103]:
#Load Author dataframe into database
index_authors.to_sql("authors", con=engine, if_exists="append", index=False)

In [104]:
#Load Hometown dataframe into database
final_authors_df.to_sql("hometowns", con=engine, if_exists="append", index=False)

In [105]:
#Load Book dataframe into database
final_book_df.to_sql("books", con=engine, if_exists="append", index=False)

In [106]:
#Confirm data has been added to the authors database
pd.read_sql_query('SELECT * FROM authors', con=engine).head()

   author_id          author_name
0          1       Jeremy Iversen
1          2        Saul Williams
2          3      Maureen Johnson
3          4         Lynsay Sands
4          5  George R. R. Martin

In [107]:
#Confirm data has been added to the hometowns database
pd.read_sql_query('SELECT * FROM hometowns', con=engine).head()

   author_id          author_name             hometown books_written
0          1       Jeremy Iversen        New York City             2
1          2        Saul Williams   Newburgh, New York            14
2          3      Maureen Johnson     Philadelphia, PA            55
3          4         Lynsay Sands           Leamington           102
4          5  George R. R. Martin  Bayonne, New Jersey           988

In [108]:
#Confirm data has been added to the books database
pd.read_sql_query('SELECT * FROM books', con=engine).head()

,book_id,book_title,series_name,language,author_name,fiction_non,genre,number_of_pages,year_read
0,1,21,0,English,Jeremy Iversen,Fiction,Young Adult,261,0
1,2,", Said the Shotgun to the Head",0,English,Saul Williams,Non-Fiction,Poetry,182,0
2,3,13 Little Blue Envelopes,0,English,Maureen Johnson,Fiction,Young Adult,320,0
3,4,A Bite To Remember,Argeneu Novel,English,Lynsay Sands,Fiction,Paranormal Romance,362,0
4,5,A Clash of Kings,A Song of Ice and Fire,English,George R. R. Martin,Fiction,Fantasy,824,2012